*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
versionf
/androidApp/release/
signing.properties
*/xcuserdata
/iosApp/Pods/Pods.xcodeproj/xcuserdata/*
/version
/iosApp/Pods/*
/iosApp/Pods/Pods.xcodeproj/xcuserdata/
/iosApp/iosApp.xcworkspace/*
/Task
*.podspec
