*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
versionf
/androidApp/release/
signing.properties
*/xcuserdata
/version
/iosApp/Pods/*
/iosApp/Pods/.*
/iosApp/Pods/Pods.xcodeproj/xcuserdata/
/iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Task
*.podspec
/logic/SpeechToTextAudio.wav
