*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
versionf
/androidApp/release/
signing.properties
*/xcuserdata
/iosApp/Pods/Pods.xcodeproj/xcuserdata/KIEller.xcuserdatad/xcschemes/shared.xcscheme
/iosApp/Pods/Pods.xcodeproj/xcuserdata/KIEller.xcuserdatad/xcschemes/Pods-iosApp.xcscheme
/iosApp/Pods/Local Podspecs/shared.podspec.json
/iosApp/Pods/Target Support Files/shared/shared.xcconfig
/version
/iosApp/Pods/*
/iosApp/Pods/.*
/iosApp/Pods/Pods.xcodeproj/xcuserdata/
/iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Task
*.podspec
/viewmodel/jacoco.exec
