name: PullRequest CI

on:
  workflow_call:
    inputs:
      BUILD_TYPE:
        required: true
        type: string
      BUILD_TYPE_LOWERCASE:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      SONAR_KEY:
        required: true

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  #runs sonar
  analyze:
    runs-on: self-hosted
    steps:
      #checkout project
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      # necessary for linux/macos but doesn't work on windows
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      # setup jdk 22
      - name: Set Up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '22'
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      # lint
      - name: Android Lint
        run: ./gradlew lint${{ inputs.BUILD_TYPE }}
      # android lint debug upload
      - uses: actions/upload-artifact@v4
        with:
          name: AndroidLintRelease
          path: |
            settings/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            resources/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            viewmodel/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            ui/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            app/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            widget/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
            androidApp/build/reports/lint-results-${{ inputs.BUILD_TYPE_LOWERCASE }}.html
  #runs checks
  unitTest:
    needs: analyze
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      # setup jdk 22
      - name: Set Up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '22'
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      # run all unit tests (debug and debug)
      - name: Unit Tests
        run: ./gradlew test${{ inputs.BUILD_TYPE }}
      # better looking test report inside github
      - name: Create Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Test Report
          path: viewmodel/build/test-results/test${{ inputs.BUILD_TYPE }}UnitTest/TEST-*.xml,logic/build/test-results/test${{ inputs.BUILD_TYPE }}UnitTest/TEST-*.xml
          reporter: java-junit
          fail-on-error: false
